/* General Rule Sets*/
ol {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul {
   display: inline-block;
    margin: 0;
    padding: 0; 
}

/* Classes */
.mistyrose_bg {
  background-color: mistyrose;
}
.red_bg {
    background-color: rgb(148, 83, 83);
    color: white;
}